@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root{
    --skills-bar-length: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #0D1117;
    box-sizing: border-box;
}

/* Diseño del navbar */

header {
    font-family: 'Inter', sans-serif;
    background: #0D1117;
}
 header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 40px;
 }

 header .contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
 }

 header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
 }

 header a:hover {
    color: rgb(58, 174, 58);
 }

 /* .habilidades {
    font-family: 'Inter', sans-serif;
    background: #d4da37;
 }

 .sobreMi {
    font-family: 'Inter', sans-serif;
    background: #950b65;
 }

 .contactame {
    font-family: 'Inter', sans-serif;
    background: #1c29da;
 }

 p {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 40px;
 }  */

/* Diseño del carrusel */

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

 .carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 490px;
    display: flex;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.controls {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 0;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border: none;
    background-color: #0D1117;
    flex-basis: 10%;
    cursor: pointer;
}

.btn:hover {
    color: rgb(58, 174, 58);
}

/* Diseño de la sección de experiencia */
    
.title {
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

hr {
    width: 100%;
    color: white;
}

.project {
    text-decoration: none;
    font-weight: bold;
    color: white;
    }

.project:hover {
    color: rgb(58, 174, 58);
}


table {
    margin: 30px 30px;
}

.info {
    text-align: center;
    padding: 50px 50px;
    font-size: 25px;
    background-color: gray;
    font-weight: bold;
    color: black;
}

.project {
    background-color: gray;
}

.img {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    width: 350px;
}

/* Diseño de la sección de habilidades */

.habilidades {
    padding: 25px 25px;

}

.habilidades__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades__tech {
    font-weight: bold;
    color: white;
    padding: 10px 10px;
}

.habilidades__barra,

.habilidades__barra::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: 10px;
    overflow: hidden;
}

.habilidades__barra::after {
    content: "";
    position: absolute;
    left: -175px;
    background-color: #2d36da;
    transition: color 0.1s, background-color 0.2s ease-in-out;
    animation: skills-bar-fill 2s ease-in-out forwards; 
}

.habilidades__barra--65::after {
    --skills-bar-length:65%
}

.habilidades__barra--60::after {
    --skills-bar-length:60%
}

.habilidades__barra--50::after {
    --skills-bar-length:50%
}

.habilidades__barra--40::after {
    --skills-bar-length:40%
}

.habilidades__barra--30::after {
    --skills-bar-length:30%
}

.subtitle {
    font-weight: bold;
    color: white;
    padding: 25px 25px;
    font-size: 30px; 
}

.skillsInfo {
    font-weight: bold;
    color: white;
    padding: 25px 25px;
    font-size: 20px;
    text-align: justify; 
}


 @media (min-width: 850px){
    header{
        width: 100%;
    }

    header .contenedor1 {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

 }  

 @keyframes skills-bar-fill { 
    to {
        transform: translateX(var(--skills-bar-length));
    }
}